@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--Black, #151515);
  font-family: "Josefin Sans", sans-serif;
  padding: 0 10rem;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

header {
  margin-top: 4rem;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

html {
  font-size: 10px;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

nav {
  display: flex;
  align-items: end;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
}

.logoI a {
  display: flex;
  align-items: end;
}

.logoI p {
  color: #dedede;
  font-size: 3.5rem;
}
.logoI img {
  max-width: 4rem;
}
.none {
  display: none;
}

.hide {
  position: absolute;
  display: none;
  background: black;
  top: 1rem;
  right: 0;
  z-index: 1;
  padding: 2rem 2.2rem;
  box-shadow: 0px 0px 30px white;
  border-radius: 10px;
}

.hide ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.hide ul li a {
  font-size: 1.6rem;
  color: #dedede;
}

.hide ul li a:hover {
  color: burlywood;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.nav-links li a {
  color: #dedede;
  font-size: 2.6rem;
  position: relative;
}

/*  */

.nav-links li a::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: wheat;
  width: 0;
  left: 50%;
  bottom: -6px;
  transition: all 0.25s;
}

.nav-links li a:hover::after {
  width: 100%;
  left: 0%;
}
/*  */
/* ----------Snow--------------- */

#snow {
  --size: 1;
  --fallDuration: 10s;
  --swayDuration: 0.8s;
  --fallSlideStrength: 0.5;
  --slideStrength: 0.5;
  --position: 0;
}

#snow > div {
  position: absolute;
  top: 0;
  left: calc(var(--position) - 20%);
  width: calc(var(--size) * 15px);
  aspect-ratio: 1;
  background: radial-gradient(white, transparent 66%);
  animation: var(--fallDuration) snowFall linear forwards;
}

@keyframes snowFall {
  to {
    top: 100%;
    transform: translateX(calc(var(--cWidth) * var(--fallSlideStrength) / 8));
  }
}

/* -------------------------- */
#home {
  display: flex;
  color: #dedede;
  padding-top: 9rem;
  gap: 15rem;
}

#home .home-text {
  max-width: 80rem;
  padding-top: 1rem;
}

#home .home-text h1 {
  font-size: 6.4rem;
  margin-top: 5rem;
  max-width: 90rem;
  color: lightyellow;
}

#home .home-text p {
  margin-top: 2rem;
  font-size: 3rem;
  max-width: 50rem;
}

#home .home-img img {
  max-width: 55rem;
  max-height: 60rem;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

#about {
  display: flex;
  margin: 0 auto;
  padding-top: 15rem;
  color: #dedede;
  gap: 15rem;
}

#about .about-img img {
  max-width: 50rem;
  border-radius: 20px;
}
#about .about-text {
  max-width: 85rem;
}

#about .about-text h2 {
  font-size: 7rem;
  color: cadetblue;
}

#about .about-text p {
  font-size: 3rem;
  line-height: 1.2;
  margin-top: 2rem;
}

#service {
  padding-top: 15rem;
  padding-bottom: 4rem;
}
#service h3 {
  font-size: 7rem;
  color: cadetblue;
}
#service .programming {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 15rem;
  margin-top: 10rem;
  color: #dedede;
}

#service .programming .card {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

#service .programming .card h2 {
  font-size: 7rem;
}

#service .programming .card h2:hover {
  color: burlywood;
}
#service .programming .card p {
  font-size: 2rem;
  color: #d9d9d9;
}
.line {
  margin-top: 20px;
  max-width: 100%;
  background-color: #747171;
  opacity: 1;
  height: 1px;
}

#projects {
  padding-top: 10rem;
  padding-bottom: 3rem;
}

#projects h2 {
  font-size: 7rem;
  color: cadetblue;
}

.carousel {
  position: relative;
  margin-top: 7rem;
  padding-top: 10rem;
  z-index: 1;
  height: 100vh;
  /* overflow: hidden; */
  pointer-events: none;
}

.carousel-item {
  --items: 10;
  --width: clamp(150px, 30vw, 300px);
  --height: clamp(200px, 40vw, 400px);
  --x: calc(var(--active) * 800%);
  --y: calc(var(--active) * 200%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
  background: black;
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}

.carousel-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  opacity: var(--opacity);
}
.carousel-box:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5)
  );
}

.title {
  position: absolute;
  z-index: 1;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 3vw, 30px);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.title-icons {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  padding-top: 8rem;
}
.title a {
  color: cornflowerblue;
}

.title a:hover {
  color: rgb(34, 87, 186);
  filter: brightness(120%);
}
.carousel-box img {
  height: 23rem;
  object-fit: cover;
  pointer-events: none;
}

.layout {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.layout:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 90px;
  width: 10px;
  height: 100%;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  opacity: 0.15;
}

.box {
  position: absolute;
  bottom: 0;
  left: 30px;
  color: #fff;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
  font-size: 9px;
  line-height: 1.4;
  text-transform: uppercase;
  opacity: 0.4;
}

.logo {
  position: absolute;
  z-index: 2;
  top: 28px;
  right: 28px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  color: black;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  padding-bottom: 0.1em;
}

.cursor {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
  transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
  display: none;
  pointer-events: none;

  @media (pointer: fine) {
    display: block;
  }
}

.cursor2 {
  --size: 2px;
  transition-duration: 0.7s;
}

.project-carousel {
  height: 780px;
  margin: 0 auto;
  width: 100%;
}
/* ------------------------------ */
#contact {
  padding-top: 11rem;
  padding-bottom: 3rem;
}

.footer-top {
  display: flex;
  gap: 15rem;
}

.footer-top .contact-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-top .contact-left h2 {
  color: cadetblue;
  font-size: 7rem;
}

.footer-top .contact-left p {
  color: #dedede;
  font-size: 2rem;
}

.footer-top .contact-part {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.footer-top .contact-part input {
  background: none;
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 2px solid cadetblue;
  color: #dedede;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.footer-top .contact-part textarea {
  background: none;
  border: 1px solid cadetblue;
  max-width: 100%;
  outline: none;
  color: #dedede;
  font-size: 2rem;
  padding: 1rem 30rem 15rem 2rem;
}

.footer-top .contact-part button {
  background-color: cadetblue;
  font-size: 2rem;
  padding: 1rem 2rem;
  color: white;
  border-radius: 1rem;
}

.footer-top .contact-part button:hover {
  filter: brightness(120%);
  box-shadow: 0 0 20px cadetblue;
}
.footer-line {
  margin-top: 6rem;
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
  padding-top: 3rem;
}

.right {
  display: flex;
  gap: 2rem;
}

.right i {
  color: #dedede;
  font-size: 2rem;
}

.right i:hover {
  color: cadetblue;
  filter: brightness(120%);
}

@media (max-width: 1345px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }

  #home {
    gap: 10rem;
  }

  .nav-links li a {
    font-size: 2rem;
  }

  .logoI p {
    font-size: 3rem;
  }
  #home .home-text h1 {
    font-size: 5rem;
  }

  #home .home-text p {
    font-size: 2.7rem;
  }

  #home .home-img img {
    max-width: 35rem;
  }
  #about .about-img img {
    max-width: 45rem;
    max-height: 54rem;
  }

  #about {
    gap: 12rem;
  }

  #about .about-text h2 {
    font-size: 5rem;
    margin-top: 2rem;
  }

  #about .about-text p {
    font-size: 2.5rem;
    line-height: 1.3;
    width: 34rem;
  }

  #service h3 {
    font-size: 5rem;
  }

  #service .programming .card h2 {
    font-size: 5rem;
  }

  #projects h2 {
    font-size: 5rem;
  }

  .title-icons {
    padding-top: 9rem;
  }
  .carousel {
    margin-top: 5rem;
  }

  .project-carousel{
    margin-top: 5rem;
  }
  .footer-top .contact-left h2 {
    font-size: 5rem;
  }
  .footer-top {
    gap: 10rem;
  }

  .footer-top .contact-part textarea {
    padding: 1rem 20rem 15rem 2rem;
  }

  .footer-top .contact-part button {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1160px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  #home .home-img img {
    max-width: 40rem;
  }

  #home .home-text {
    margin-top: -4rem;
  }

  #home .home-text h1 {
    font-size: 4rem;
  }

  #about {
    gap: 10rem;
  }
  #about .about-text {
    margin-top: 1rem;
  }

  #about .about-text h2 {
    font-size: 4.2rem;
  }
  #about .about-text p {
    font-size: 2.3rem;
    width: 30rem;
  }

  .project-carousel{
    margin-top: 10rem ;
  }
}


@media screen and (min-width:1110px) {
  .container{
    max-width: 750px;
    margin: 0 auto;
  }

  .project-carousel{
    margin-top: 15rem;
    height: 750px;
  }
}
@media (max-width: 1050px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
  }

  #home {
    gap: 8rem;
  }
  #home .home-text h1 {
    font-size: 3.5rem;
  }

  #home .home-text p {
    font-size: 2.3rem;
  }

  #about {
    gap: 6rem;
  }
  #about .about-img img {
    max-width: 35rem;
  }

  #about .about-text {
    max-width: 50rem;
  }

  #about .about-text h2 {
    margin-top: 1rem;
    font-size: 4rem;
  }

  #about .about-text p {
    font-size: 2rem;
    line-height: 1.2;
  }

  #service h3 {
    font-size: 4rem;
  }

  #service .programming .card h2 {
    font-size: 4rem;
  }

  #projects h2 {
    font-size: 4rem;
  }

  .title-icons {
    padding-top: 7rem;
  }
  .footer-top .contact-left h2 {
    font-size: 4rem;
  }
  .footer-top .contact-part textarea {
    padding: 1rem 15rem 15rem 2rem;
  }

  .footer-top .contact-part button {
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 980px) {
  .container {
    max-width: 670px;
    margin: 0 auto;
  }

  nav {
    max-width: 800px;
  }

  #home {
    gap: 8rem;
  }

  .nav-links li a {
    font-size: 1.8rem;
  }

  .logoI p {
    font-size: 2.5rem;
  }
  #home .home-text h1 {
    font-size: 4rem;
  }

  #home .home-text p {
    font-size: 2rem;
  }

  #home .home-img img {
    max-width: 30rem;
  }

  #about .about-img img {
    max-width: 35rem;
  }

  #about .about-text p {
    font-size: 1.8rem;
    line-height: 1.35;
    width: 25rem;
  }
  .title-icons {
    padding-top: 7rem;
  }
}

@media (max-width: 855px) {
  .container {
    max-width: 570px;
    margin: 0 auto;
  }

  nav {
    max-width: 800px;
  }

  .nav-links li a {
    font-size: 1.8rem;
  }

  .logoI p {
    font-size: 2.6rem;
  }
  #home .home-text h1 {
    font-size: 3rem;
  }

  #home .home-text p {
    font-size: 1.8rem;
  }

  #about .about-img img {
    max-width: 30rem;
  }

  #about .about-text h2 {
    font-size: 3rem;
  }

  #about .about-text p {
    font-size: 1.6rem;
    line-height: 1.3;
    width: 22rem;
  }

  #service .programming {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15rem;
    text-align: center;
    grid-row-gap: 10rem;
  }
  #service h3 {
    font-size: 3rem;
  }

  #service .programming .card h2 {
    font-size: 3rem;
  }

  #projects h2 {
    font-size: 3rem;
  }
  .title-icons {
    padding-top: 4rem;
  }

  .carousel {
    margin-top: 2rem;
  }
  .project-carousel {
    display: flex;
    justify-content: center;
    height: 800px;
    margin: 0 auto;
    margin-top: -20rem;
  }

  .footer-top .contact-left h2 {
    font-size: 3rem;
  }

  .footer-top {
    gap: 5rem;
  }
  .footer-top .contact-left p {
    font-size: 1.6rem;
  }

  .footer-top .contact-part input {
    padding-bottom: 0.5rem;
    font-size: 1.6rem;
  }

  .footer-top .contact-part textarea {
    padding: 1rem 10rem 8rem 2rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 785px) {
  .container {
    max-width: 500px;
    margin: 0 auto;
  }

  nav {
    max-width: 720px;
  }

  .nav-links {
    display: none;
  }

  .menu {
    display: inline-block;
    font-size: 2rem;
    color: #dedede;
  }

  .x {
    font-size: 2rem;
    color: #dedede;
    display: none;
  }

  .logoI p {
    font-size: 2.7rem;
  }

  #home {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  #home .home-text h1 {
    font-size: 4rem;
  }
  #home .home-img img {
    max-width: 27rem;
  }

  #home .home-text p {
    font-size: 2.3rem;
    max-width: 30rem;
    margin: 0 auto;
    margin-top: 4rem;
  }

  #about {
    flex-direction: column-reverse;
    margin-top: -11rem;
  }

  #about .about-text {
    max-width: 35rem;
    text-align: center;
    margin: 0 auto;
  }

  #about .about-img img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  #service {
    margin-top: -8rem;
  }

  #service h3 {
    text-align: center;
  }

  #projects {
    margin-top: -5rem;
  }

  #projects h2 {
    text-align: center;
  }

  .title-icons a {
    font-size: 2.4rem;
  }
  .title-icons {
    transform: translateY(-4rem);
  }

  .project-carousel {
    display: flex;
    justify-content: center;
    height: 700px;
    /* width: 500px; */
    margin: 0 auto;
    margin-top: -6rem;
  }
  .carousel {
    margin-top: -5rem;
  }

  #contact {
    margin-top: -10rem;
    text-align: center;
  }
}

@media (max-width: 670px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
  }

  .project-carousel {
    display: flex;
    justify-content: center;
    height: 536px;
    /* width: 400px; */
    margin: 0 auto;
    margin-top: -11rem;
  }
  .footer-top {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
  }

  .title-icons {
    transform: translateY(-6rem);
    z-index: 1;
  }
}

@media (max-width: 620px) {
  .container {
    max-width: 380px;
    margin: 0 auto;
  }

  #service .programming .card h2 {
    font-size: 2rem;
  }

  #service .programming .card p {
    font-size: 1.6rem;
  }

  .project-carousel {
    height: 536px;
    /* width: 370px; */
    margin: 0 auto;
    margin-top: -11rem;
  }

  .title-icons {
    transform: translateY(-10rem);
  }
}

@media (max-width: 530px) {
  .container {
    max-width: 300px;
    margin: 0 auto;
  }

  nav {
    display: flex;
    margin: 0 auto;
    width: 360px;
    margin-left: -2.5rem;
  }
  #home .home-text h1 {
    font-size: 3rem;
  }

  #home .home-text p {
    font-size: 2rem;
    max-width: 25rem;
  }

  #about .about-img img {
    max-width: 25rem;
  }

  #service .programming {
    place-items: center;
    max-width: 280px;
    margin: 0 auto;
    margin-top: 5rem;
    grid-row-gap: 6rem;
    grid-column-gap: 5rem;
  }

  .project-carousel {
    display: flex;
    justify-content: center;
    height: 536px;
    /* width: 350px; */
    margin: 0 auto;
    margin-top: -11rem;
  }

  .title-icons {
    transform: translateY(-12rem);
  }
  .footer-top .contact-part textarea {
    padding: 1rem 5rem 8rem 2rem;
    font-size: 1.4rem;
  }

  .footer-top .contact-part button {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 300px;
    margin: 0 auto;
  }

  nav {
    display: flex;
    margin: 0 auto;
    width: 300px;
    margin-left: -3.5rem;
  }

  #home .home-img img {
    max-width: 20rem;
  }

  #home .home-img img {
    max-width: 20rem;
    border-radius: 0 50px 0 50px;
  }
  #about .about-img img {
    max-width: 20rem;
  }

  .project-carousel {
    display: flex;
    justify-content: center;
    height: 536px;
    /* width: 280px; */
    margin: 0 auto;
    margin-top: -11rem;
  }

  .footer-top .contact-part textarea {
    padding: 1rem 3rem 8rem 2rem;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 280px;
    margin: 0 auto;
  }
  nav {
    width: 285px;
  }

  #about .about-text p {
    width: 20rem;
  }

  .project-carousel {
    display: flex;
    justify-content: center;
    height: 536px;
    /* width: 250px; */
    margin: 0 auto;
    margin-top: -11rem;
  }

  .footer-top .contact-part textarea {
    padding: 0.3rem 0.4rem 8rem 0.3rem;
  }
}

@media (max-width: 405px) {
  .container {
    max-width: 275px;
    margin: 0 auto;
  }

  nav {
    width: 280px;
    margin-left: -5rem;
  }

  #home .home-img img {
    max-width: 15rem;
  }

  #about .about-img img {
    max-width: 15rem;
  }

  #about .about-text p {
    width: 15rem;
  }
  #service .programming {
    margin: 0 auto;
    justify-content: center;
    margin-top: 4rem;
  }

  #contact .contact-part input {
    width: 15rem;
  }

  #contact .contact-part textarea {
    width: 15rem;
    padding-bottom: 10rem;
  }

  .project-carousel {
    display: flex;
    justify-content: center;
    height: 536px;
    /* width: 200px; */
    margin: 0 auto;
    margin-top: -11rem;
  }
}

@media (max-width: 390px) {
  .container {
    max-width: 260px;
    margin: 0 auto;
  }

  nav {
    max-width: 250px;
    margin-left: -4rem;
  }

  .project-carousel {
    display: flex;
    justify-content: center;
    height: 536px;
    /* width: 185px; */
    margin: 0 auto;
    margin-top: -11rem;
  }
}
