@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--Black, #151515);
  font-family: "Josefin Sans", sans-serif;
  padding: 0 10rem;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

header {
  margin-top: 4rem;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

html {
  font-size: 10px;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
}

.logoI a {
  display: flex;
  align-items: end;
}

.logoI p {
  color: #dedede;
  font-size: 30px;
}
.logoI img {
  max-width: 4rem;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.nav-links li a {
  color: #dedede;
  font-size: 2rem;
  position: relative;
}

/*  */

.nav-links li a::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: wheat;
  width: 0;
  left: 50%;
  bottom: -6px;
  transition: all 0.25s;
}

.nav-links li a:hover::after {
  width: 100%;
  left: 0%;
}
/*  */
/* -------------------------- */

#snow {
  height: 100%;
  /* overflow: hidden; */
  position: relative;
  --size: 1;
  --fallDuration: 10s;
  --swayDuration: 0.8s;
  --fallSlideStrength: 0.5;
  --slideStrength: 0.5;
  --position: 0;
}

#snow > div {
  position: absolute;
  top: 0;
  left: calc(var(--position) - 20%);

  width: calc(var(--size) * 15px);
  aspect-ratio: 1;

  background: radial-gradient(white, transparent 66%);

  animation: var(--fallDuration) snowFall linear forwards;
}

@keyframes snowFall {
  to {
    top: 100%;
    transform: translateX(calc(var(--cWidth) * var(--fallSlideStrength) / 8));
  }
}

/* -------------------------- */
#home {
  display: flex;
  color: #dedede;
  padding-top: 9rem;
  gap: 15rem;
}

#home .home-text {
  max-width: 80rem;
  padding-top: 1rem;
}

#home .home-text h1 {
  font-size: 7rem;
  margin-top: 5rem;
  max-width: 80rem;
}

#home .home-text p {
  margin-top: 2rem;
  font-size: 3rem;
  max-width: 50rem;
}

#home .home-img img {
  max-width: 40rem;
  max-height: 60rem;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

#about {
  display: flex;
  padding-top: 20rem;
  color: #dedede;
  gap: 10rem;
}

#about .about-img img {
  max-width: 80rem;
  max-height: 90rem;
  border-radius: 20px;
}
#about .about-text {
  margin-top: 2rem;
}

#about .about-text h2 {
  font-size: 7rem;
  color: cadetblue;
}

#about .about-text p {
  font-size: 3rem;
  max-width: 55rem;
  margin-top: 2rem;
}

#service {
  padding-top: 15rem;
  padding-bottom: 4rem;
}
#service .programming {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 15rem;
  margin-top: 10rem;
  color: #dedede;
}

#service .programming .card {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

#service .programming .card h2 {
  font-size: 7rem;
}
#service .programming .card p {
  font-size: 2rem;
  color: #d9d9d9;
}
.line {
  margin-top: 20px;
  max-width: 100%;
  background-color: #747171;
  opacity: 1;
  height: 1px;
}

#projects {
  padding-top: 10rem;
}

#projects h2 {
  font-size: 6rem;
  color: cadetblue;
}

/* #projects .projects-part {
  display: grid;
  margin-top: 3rem;
  gap: 2rem;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}

#projects .projects-part .part {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

#projects .projects-part .part a {
  font-size: 3rem;
  color: #dedede;
  max-width: 30rem;
  position: relative;
}

#projects .projects-part .part a:hover {
  color: burlywood;
}

#projects .projects-part .part a::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: burlywood;
  width: 0;
  left: 50%;
  bottom: -6px;
  transition: all 0.25s;
}
#projects .projects-part .part a:hover:after {
  width: 100%;
  left: 0%;
}

#projects .projects-part .part p {
  font-size: 2rem;
  color: #747171;
}

#projects .projects-part .part img {
  max-width: 35rem;
} */
/* ------------------------------ */
/* body {
  overflow: hidden;
  font-family: "Roboto", serif;
  background: linear-gradient(135deg, black, #220033);
} */

.carousel {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.carousel-item {
  --items: 10;
  --width: clamp(150px, 30vw, 300px);
  --height: clamp(200px, 40vw, 400px);
  --x: calc(var(--active) * 800%);
  --y: calc(var(--active) * 200%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
  background: black;
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);

  .carousel-box {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    opacity: var(--opacity);
    font-family: "Orelo-sw-db", serif;

    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.5)
      );
    }
  }

  .title {
    position: absolute;
    z-index: 1;
    color: #fff;
    bottom: 20px;
    left: 20px;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(20px, 3vw, 30px);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }

  .num {
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 10px;
    left: 20px;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(20px, 10vw, 80px);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
}

.layout {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 90px;
    width: 10px;
    height: 100%;
    border: 1px solid #fff;
    border-top: none;
    border-bottom: none;
    opacity: 0.15;
  }

  .box {
    position: absolute;
    bottom: 0;
    left: 30px;
    color: #fff;
    transform-origin: 0% 10%;
    transform: rotate(-90deg);
    font-size: 9px;
    line-height: 1.4;
    text-transform: uppercase;
    opacity: 0.4;
  }
}

.logo {
  position: absolute;
  z-index: 2;
  top: 28px;
  right: 28px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orelo-sw-db", serif;
  pointer-events: all;
  color: black;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  padding-bottom: 0.1em;
}

.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 25px;
  color: #fff;
  opacity: 0.4;

  a {
    display: inline-block;
    margin-left: 3px;
  }

  svg {
    --fill: #fff;
    width: 35px;
    height: 35px;
  }
}

.cursor {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
  transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
  display: none;
  pointer-events: none;

  @media (pointer: fine) {
    display: block;
  }
}

.cursor2 {
  --size: 2px;
  transition-duration: 0.7s;
}

/* ------------------------------ */
#contact {
  padding-top: 11rem;
  padding-bottom: 3rem;
}

.footer-top {
  display: flex;
  gap: 20rem;
}

.footer-top .contact-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 40rem;
}
.footer-top .contact-left h2 {
  color: cadetblue;
  font-size: 7rem;
}

.footer-top .contact-left p {
  color: #dedede;
  font-size: 2rem;
}

.footer-top .contact-part {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.footer-top .contact-part input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid cadetblue;
  color: #dedede;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.footer-top .contact-part textarea {
  background: none;
  border: 1px solid cadetblue;
  outline: none;
  color: #dedede;
  font-size: 2rem;
  padding: 1rem 30rem 15rem 2rem;
}

.footer-top .contact-part button {
  background-color: cadetblue;
  font-size: 2rem;
  padding: 1rem 2rem;
  color: white;
  border-radius: 1rem;
}

.footer-line {
  margin-top: 6rem;
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
  padding-top: 3rem;
}

.right {
  display: flex;
  gap: 2rem;
}

.right i {
  color: #dedede;
  font-size: 2rem;
}

@media (max-width: 1345px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  #home {
    gap: 5rem;
  }
}

/* @media (max-width:1250px) {
  
} */
